# Presentation

### how to write hello world in python ?

In [1]:
print("hello $%% praha")

hello $%% praha

### data types

In [4]:
var1=10
var2="string"
var3=10.00
var4=True

print("data type of var1 is",type(var1))
print("data type of var2 is",type(var2))
print("data type of var3 is",type(var3))
print("data type of var4 is",type(var4))

data type of var1 is <class 'int'>
data type of var2 is <class 'str'>
data type of var3 is <class 'float'>
data type of var4 is <class 'bool'>

### operation and operands

In [13]:
print("addition operation",2+2)
print("subtraction operation",4-2)
print("multiplication operation",4*3)
print("exponentiation operation",3**3)
print("integer division",3//2 )
print(" float division",3/2)

addition operation 4
subtraction operation 2
multiplication operation 12
exponentiation operation 27
integer division 1
 float division 1.5

### Modulus operator

In [14]:
quotient = 4/ 3 
print(quotient)

remainder = 4 % 3 
print(remainder)

1.3333333333333333
1

### String operations

In [16]:
str1=10
str2=15
print(str1+str2) 
str1 = '10'
str2 = '15'
print(str1+str2)

25
1015

### Comments

In [21]:
# # comment
# asdfasd
# asdfads

print("hello everyone")

hello everyone

### Conditional execution

In [19]:
5==5

True

In [5]:
5==6

False

In [7]:
x=5
if x >0 :
    print ('x is positive')

x is positive

### Alternative execution

In [9]:

x=4
if x%2 == 0 :
    print('x is even')
else :
    print('x is odd')

x is even

### Chained conditionals

In [15]:
x=3.0000001
y=3
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is greater than y

### Nested conditionals

In [16]:
x=4
y=3
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

x is greater than y

In [17]:
x=4
y=0
try:
    print("the result of division is ",x/y)
except:
    print('airthmetic exception')

airthmetic exception

# Functions

### Built-in functions

In [19]:
print("use of max",max([3.0010101, 3.0101010, 3.0000001, 2.99999999]))
print("use of min ",min("hello world"))
print("use of len",len("hello world"))

use of max 3.010101
use of min
use of len 11

### Type conversion functions

#### integer

In [43]:
int('32')

32

In [46]:
int(3.99999)

3

In [44]:
int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

#### float

In [47]:
float(32)

32.0

In [26]:
float('3.14159')

3.14159

#### String

In [49]:
str(32)

'32'

In [25]:
int(float(str('3.14159')))

3

### Random numbers

In [27]:
import random
for i in range(10):
    x = random.random() 
    print(x)

0.31206427731119646
0.512678194809913
0.4558664460580377
0.9111491945506917
0.36927217728961703
0.1298453999268927
0.8103527589801678
0.430708618867748
0.37938712796627083
0.6310284099479407

In [30]:
t = [1, 2, 3]
random.choice(t)

1

### Math functions

In [58]:
 import math
    
degrees = 45
radians = degrees / 360.0 * 2 * math.pi 
math.sin(radians)

0.7071067811865475

### Definitions and uses of user defined functions

#### fucntion with no argument

In [62]:

# function defintion
def print_lyrics():
    str=" Tera mera milna dastoor hai \n Tere hone se mujhme noor hai \n Main hoon soona sa ek aasmaan \n Mehtaab tu.."
    print(str)
    
# calling of user defined function    
print_lyrics()

 Tera mera milna dastoor hai
 Tere hone se mujhme noor hai
 Main hoon soona sa ek aasmaan
 Mehtaab tu..

#### funtion with arguments

In [64]:
def area(leng,bre):
    return leng*bre

area(4,3)

12

## Iteration

### for loop

In [5]:
str='hello user how are you'
for x in range(5,10) :
    print(str[x]," : ",x)

   :  5
u  :  6
s  :  7
e  :  8
r  :  9

### while loop

In [6]:
x=10
while x>0:
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

### no  do while loop overhere

In [5]:
do:
    x=5
    print("hello")
    x-=1
while  x>0

SyntaxError: invalid syntax (<ipython-input-5-92498ceded17>, line 1)

### Infinite loops

In [7]:
n = 10
while True:
    print n,
    n=n-1
print 'Done!'

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-7-d8d73c8cb598>, line 3)

### Strings

In [8]:
fruit = 'banana'
letter = fruit[1]
letter

'a'

In [21]:
li=list(fruit)
li[0]='n'

TypeError: 'str' object is not callable

#### Getting the length of a string using len

In [4]:
len(fruit)

6

#### Traversal through a string with a loop

In [8]:
for i in range(len(fruit)):
    print(fruit[i])

b
a
n
a
n
a

#### String slices

In [10]:
fruit[2:4]

'na'

In [11]:
fruit[-5:-1]

'anan'

#### Strings are immutable

In [14]:
fruit[0]
var = "Hello"
var = "New String"
print(var)

New String

#### Looping and counting

In [20]:
word = 'banana' 
count = 0
for letter in word:
    if letter == 'a': 
        count = count + 1
print(count)

3

#### The in operator

In [22]:
'a' in 'banana'

True

In [23]:

if word == 'banana':
    print('All right, bananas.')
else:
    print('oops')

All right, bananas.

### string methods

In [22]:
string='princein'
type(string)

str

In [23]:
uppstr=string.upper()
uppstr

'PRINCEIN'

In [24]:
lowstr=uppstr.lower()
lowstr

'princein'

In [25]:
string.find('in')

2

In [26]:
line=' Here we go '#remove white space (spaces, tabs, or newlines) from the beginning and end of a string using the strip method:
 
line.strip()

'Here we go'

## Files

### opening and reading a file

In [27]:
file=open('text.txt')
msg= file.read()
print(msg)
file.close

hello everyone !! welcome to our presentaion.

In [31]:

try:
    file=open('text.txt','r')

    for line in file:
        #if(line.startswith('hello')):
            print(line)
except:
    print("file not found")
file.close

hi everyone

hello sdkjhfs

non hello kojhsh

lhsldhs

### Writing files

In [32]:
try:
    f=open('text.txt','w')
    msg="file content is overriden,\n"
    f.write(msg)
    
except:
    print("file not found")

f.close()

In [83]:
try:
    file=open('text.txt','r')
    print(file.read())
except:
    print("file not found")
file.close

one more line is added

### Reading from rdbms mysql

In [1]:
import pymysql
import pandas

conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='', db='python')
cur=conn.cursor()
cur.execute("select * from employee") 
for result in cur:
    print(result)

('Mac', 'Mohan', 20, 'M', 2000.0)
('nidhi', 'bharti', 44, 'F', 4444.0)