# python statements

## if elif else`

In [2]:
if True:
    print("it was true ")

it was true

In [3]:
if False:
    print("it was true ")

In [6]:
x=False

if x:
    print("x was true")
else:
    print("x was false")

x was true

In [9]:
loc='mall'
if loc== 'Auto shop':
    print("welcome to the auto shop")
elif loc=='Bank':
    print("welcome to the bank ")
elif loc=='mall':
    print("welcome to the mall ")
else:
    print("where are you ?")

welcome to the mall

In [11]:
person='sam'

if person=='sam':
    print("hello sam!")
else:
    print("whats your name")

hello sam!

In [12]:
person=='sam'

True

# For loop

In [14]:
l=[1,2,3,4,5,6]

In [15]:
l

[1, 2, 3, 4, 5, 6]

In [19]:
for num in l:
    print(num)

1
2
3
4
5
6

In [18]:
for num in l:
    print('something')

something
something
something
something
something
something

#### Modulo

In [20]:
10%3

1

In [21]:
18%7

4

In [22]:
4%2

0

In [23]:
for i in l:
    if i%2==0:
        print(i)

2
4
6

In [24]:
for i in l:
    if i%2==1:
        print(i)

1
3
5

In [26]:
for i in l:
    if i%2==0:
        print("here is an even")
    else:
        print("here is an odd")

here is an odd
here is an even
here is an odd
here is an even
here is an odd
here is an even

In [27]:
list_sum=0

for i in l:
    list_sum+=i
print("the sum is:",list_sum)

the sum is: 21

In [28]:
s="this is string"

for ch in s:
    print(ch)

t
h
i
s

i
s

s
t
r
i
n
g

In [29]:
tup=(1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [30]:
l=[(2,4),(6,8),(10,12)]

In [31]:
l

[(2, 4), (6, 8), (10, 12)]

In [34]:
for (i,x) in l:
    print(i,"this is ",x)

2 this is  4
6 this is  8
10 this is  12

In [36]:
for (t1,t2) in l:
    print(t1)

2
6
10

In [40]:
d={'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k3
k2
k1

In [42]:
d={'k1':1,'k2':2,'k3':3}

for (x,y) in d.items():
    print(x,y)

k3 3
k2 2
k1 1

## While loops

In [44]:
i=0
while i!=15:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [45]:
i=0
while i!=15:
    print(i)
    i+=1
else:
    print("reached 15")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
reached 15

# Break Continue Pass

In [46]:
x=0 #eg for continue

while x<10:
    print("x is currently",x)
    print("x is still less than 10,adding 1 to x")
    x+=1
    if x==3:
        print("x is 3")
    else:
        print("continuing")
        continue

x is currently 0
x is still less than 10,adding 1 to x
continuing
x is currently 1
x is still less than 10,adding 1 to x
continuing
x is currently 2
x is still less than 10,adding 1 to x
x is 3
x is currently 3
x is still less than 10,adding 1 to x
continuing
x is currently 4
x is still less than 10,adding 1 to x
continuing
x is currently 5
x is still less than 10,adding 1 to x
continuing
x is currently 6
x is still less than 10,adding 1 to x
continuing
x is currently 7
x is still less than 10,adding 1 to x
continuing
x is currently 8
x is still less than 10,adding 1 to x
continuing
x is currently 9
x is still less than 10,adding 1 to x
continuing

In [48]:
x=0 # eg for break

while x<10:
    print("x is currently",x)
    print("x is still less than 10,adding 1 to x")
    x+=1
    if x==3:
        print("x is 3")
        break
    else:
        print("continuing")
        continue

x is currently 0
x is still less than 10,adding 1 to x
continuing
x is currently 1
x is still less than 10,adding 1 to x
continuing
x is currently 2
x is still less than 10,adding 1 to x
x is 3