## DATA STRUCTURES

#### LIST

In [1]:
import pandas as pd
from pandas import Series,DataFrame
evens = []
for i in range(10):
     if i % 2 == 0:
      evens.append(i)
evens

[0, 2, 4, 6, 8]

In [56]:
sm = []
for x in range(15):
   if x % 2 == 1:
    sm.append(x)
sm

[1, 3, 5, 7, 9, 11, 13]

In [57]:
sd=[]
for v in range(20):
    sd=sd+[v]
sd

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [58]:
squares=[]
for x in range(5):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16]

In [3]:
import pandas as pd
from pandas import Series,DataFrame

In [5]:
sd=[]
for c in range(10):
    sd=sd+[c]
sd

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
cubes=[]
for m in range(10):
  cubes.append(m**3)
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### Operations on List

In [61]:
a = [66.25, 333, 333, 1, 1234.5]
a.count(333)

2

In [62]:
a.sort()
a

[1, 66.25, 333, 333, 1234.5]

In [2]:
a.insert(1, 7)
a

NameError: name 'a' is not defined

In [65]:
b=[1,2,3,4]
b.extend(a)
b

[1, 2, 3, 4, 1, 7, 66.25, 333, 333, 1234.5]

### Dictionary

In [11]:
import pandas as pd
from pandas import Series
m = {'SM': 4091, 'CD': 4130}
m['FG'] = 4129
m

{'CD': 4130, 'FG': 4129, 'SM': 4091}

In [12]:
dict = {'Name': 'sumi', 'Age': 7, 'Class': 'First'}

dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"
dict

{'Age': 8, 'Class': 'First', 'Name': 'sumi', 'School': 'DPS School'}

### Operations on Dictionary

In [13]:
#delete a key:value pair
del m['SM']
m

{'CD': 4130, 'FG': 4129}

In [71]:
sorted(m.keys())

['CD', 'FG']

In [72]:
'C' in tel

True

### Tuples

In [16]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
tup1

('physics', 'chemistry', 1997, 2000)

### Operations on Tuples

In [77]:
tup1[1]

'chemistry'

In [15]:
tup1[2:]

(1997, 2000)

In [79]:
tup2[2]

3

In [80]:
len(tup2)

7

In [17]:
max(tup2)

7

In [82]:
min(tup2)

1

### Series

In [22]:
import pandas as pd
from pandas import Series
import numpy as np
import random
li=['c','d']
s=pd.Series(li,index=[3,5])
s

3    c
5    d
dtype: object

In [86]:
k=pd.Series(np.arange(4),index=st)
k

1997-01-02    0
1997-01-03    1
1997-01-04    2
1997-01-05    3
Freq: D, dtype: int64

### Operations on Series

In [88]:
#returns no of elements of data
k.size

4

### Statistical Operations

In [91]:
#mean of data
k.mean()

1.5

In [92]:
#standard deviation of data
k.std()

1.2909944487358056

### DataFrame

In [101]:
import random
import numpy as np
import pandas as pd
st=pd.date_range('1/02/1997',periods=4)
df=pd.DataFrame(random.random(),index=st,columns=list('ABCD'))
df

                   A         B         C         D
1997-01-02  0.492811  0.492811  0.492811  0.492811
1997-01-03  0.492811  0.492811  0.492811  0.492811
1997-01-04  0.492811  0.492811  0.492811  0.492811
1997-01-05  0.492811  0.492811  0.492811  0.492811

In [106]:
df.head(1)

                   A         B         C         D
1997-01-02  0.492811  0.492811  0.492811  0.492811

In [105]:
df.tail(2)

                   A         B         C         D
1997-01-04  0.492811  0.492811  0.492811  0.492811
1997-01-05  0.492811  0.492811  0.492811  0.492811

In [107]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
1997-01-02  0.492811  0.492811  0.492811  0.492811
1997-01-03  0.492811  0.492811  0.492811  0.492811
1997-01-04  0.492811  0.492811  0.492811  0.492811
1997-01-05  0.492811  0.492811  0.492811  0.492811